@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

/* General Structure*/
body{
    font-family: "Varela Round";
    margin: 0;
}

h1,h2{
    font-family: "Nunito";
    line-height: 1.2em;
}

.mainContent img{
    width:100%;
    height:10em;
    object-fit:cover;
}

/*top header*/
.headerContainer1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding:0.5em;
}

/* Banner*/
.headerContainer2{
    position: relative;
}
.logo{
    width: 12em;
    height: 2.5em;
}
.banner{
    width: 100%;
    height: 15em;
    object-fit: cover;
    object-position: 45% 55%;
    opacity: 0.6;
}
.bannerMessage{
    position: absolute; 
    font-size: 1.3em;
    transform: translate(0.8em,-7.8em);
}
.bannerDetails{
    position: absolute;
    font-size: 0.8em;
    list-style-type: none;
    margin-left: 0.4em;
    padding:0;
    transform: translate(1em,-10em);
}
.printButton{
    position: absolute; 
    padding: 0.5em 1em;
    background-color:#006837;
    color:white;
    border-radius: 0.5em;
    bottom:2em;
    left:1.2em;
}

/*navigation*/

.menu{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding:0;
    margin-top:-0.3em;
    border: 1px solid #006837; 
}
.menuItem{
    padding:0.8em 0em 0.8em 1em;
    border-bottom: 1px solid #006837;
}
.lastMenuItem{
    padding:0.8em 0em 0.8em 1em;
}
.choice{
    text-decoration: none;
    color:#006837;
}

/*Main Content*/
.mainContent{
    margin: 1em;
}
.mainContentContainer{
    background-color: #F2F2F2;
    margin-top: -1.2em;
}
.subheading{
    padding-top: 1em;
}
figcaption{
    padding-top:1em;
    font-size: 0.8em;
}
.sendoffMessage{
    padding: 1em;
    text-align: center;
    color:#006837;
}

/*footer*/
.copyrightMessage{
    text-align:center;
}
.follow{
    text-align:center;
}
.a{
    grid-area:iconA;
}
.b{
    grid-area:iconB;
}
.c{
    grid-area:iconC;
}
.option1{
    grid-area: facebook;
    color: black;
}
.option2{
    grid-area: instagram;
    color: black;
 }
.option3{
    grid-area: twitter;
    margin-left: 0.4em;
    color: black;
 }

.footerContainer{
    padding-bottom: 1em;
    width: 100%;
}

.followOptions{ 
    display: grid;
    justify-items: start;
    align-items: center;
    grid-template-columns: 45% 1fr 1fr 45%;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 1em;
    column-gap: 0px;
    grid-template-areas: 
    ". iconA facebook ."
    ". iconB instagram ."
    ". iconC twitter ." ;
}

.icon{
    height:1.5em;
    width:auto;
}


@media screen and (min-width:1025px){
    
    h2{
        margin-left: 1em;
    }
    h3{
        margin-left: 2em;
    }
    p{
        margin-left: 2.4em;
    }
    .maincontent ul{
        margin-left: 2.4em;
    }
    .maincontent ol{
        margin-left: 2.4em;

    }
    .banner{
        width: 100%;
        height: 28em;
    }
    .bannerMessage{
        font-size: 3em;
        transform: translate(0.6em,-5.8em);
    }
    .bannerDetails{
        font-size: 1.3em;
        list-style-type: none;
        margin-left: 0.4em;
        padding:0;
        transform: translate(1.2em,-9.5em);
    }
    .printButton{
        font-size: 1.2em;
        padding: 0.5em 1em;
        bottom:1.5em;
        left:1.5em;
    }  
    figure{
        text-align: center;
    }
    figcaption{
        text-align: start;
    }

    .mainContent img{
        width:30em;
        height:20em;
        object-fit: cover;
    }
    
    .menu{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .menuItem{
        padding:1em;
        border:none;
    }
    .lastMenuItem{
        padding:1em;
    }

    .followOptions{ 
        display: grid;
        justify-items: start;
        align-items: center;
        grid-template-columns: 1fr 3% 3% 1fr 3% 3% 1fr 3% 3% 1fr;
        grid-template-rows: 1fr;
        row-gap: 1em;
        column-gap: 0px;
        grid-template-areas: 
        ". iconA facebook .  iconB instagram . iconC twitter .";
    }

}