@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

/* General Structure*/
body{
    font-family: "Varela Round";
    margin: 0;
}

h1,h2{
    font-family: "Nunito";
    line-height: 1.2em;
}

/*top header*/
.headerContainer1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding:0.5em;
}

/* Banner*/

.headerContainer2{
    position: relative;
    margin:0;
}

.logo{
    margin-top: 0.2em;
    width: 12em;
    height: 2.5em;
}

.banner{
    width: 100%;
    height: 17em;
    object-fit: cover;
    object-position: 45% 55%;
    opacity: 0.5;
}
.bannerMessage{
    position: absolute; 
    font-size: 1.3em;
    transform: translate(0.7em,-7.5em);
}

.detail1{
    grid-area: time;
}
.icon .a{
    position: absolute;
    grid-area:timeIcon;
}
.detail2{
    grid-area: serving;
}
.icon .b{
    grid-area:servingIcon;
}
.detail3{
    grid-area: lunch;
}
.icon .c{
    grid-area:lunchIcon;
}
.printButton{
    position: absolute;
    padding: 0.5em 1em;
    background-color:#006837;
    color:white;
    border-radius: 0.5em;
    bottom:1.2em;
    left:1.4em;
}

.bannerDetails{
    position: absolute;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "timeIcon time"
    "servingIcon serving"
    "lunchIcon lunch";
    row-gap: 0.5em;
    column-gap: 1.2em;
    font-size: 0.6em;
    line-height: 1.2em;
    transform: translate(2em, -11em);
}


/*navigation*/

.menu{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding:0;
    margin:0;
    border: 1px solid #006837; 
    margin-top: -0.3em;

}
.menuItem{
    padding:0.8em 0em 0.8em 1em;
    border-bottom: 1px solid #006837;
}
.lastMenuItem{
    padding:0.8em 0em 0.8em 1em;
}
.choice{
    text-decoration: none;
    color:#006837;
}

/*Main Content*/
.mainContent{
    margin: 1em;
}
.mainContentContainer{
    background-color: #F2F2F2;
    margin-top: -1.2em;
}

.mainContent img{
    width:100%;
    height:10em;
    object-fit:cover;
}

.subheading{
    padding-top: 1em;
}
figcaption{
    padding-top:1em;
    font-size: 0.8em;
}
.sendoffMessage{
    padding: 1.3em 1.3em 1.3em 0.9em;
    text-align: center;
    color:#006837;
}

/*footer*/
.copyrightMessage{
    text-align:center;
}
.follow{
    text-align:center;
}
.social1{
    grid-area:social1;
}
.social2{
    grid-area:social2;
}
.social3{
    grid-area:social3;
}

.option1{
    line-height: 1em;
    padding:0.6em;
    color: black;
}

.option2{
    line-height: 1em;
    padding:0.6em;
    color: black;
 }
.option3{
    padding:0.6em;
    color: black;
 }

.footerContainer{
    padding-bottom: 1em;
    width: 100%;
}

.followOptions{ 
    list-style-type: none;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 1em;
    grid-template-areas: 
    "social1"
    "social2" 
    "social3";
}

.icon{
    height:1.2em;
    width:auto;
    justify-self: center;
    align-self: end;
}
footer p{
    margin:1em;
}
footer ul{
    padding:0em;
}


@media screen and (min-width:420px){
    .mainContent img{
        width:100%;
        height:20em;
        object-fit:cover;
    }
    .bannerMessage{
        font-size: 1.7em;
        transform: translate(0.7em,-7em);

    }
    .bannerDetails{
        font-size: 0.8em;
        transform: translate(2em, -10em);
    }
}

@media screen and (min-width:600px){
    .banner{
        width: 100%;
        height: 25em;
    }
    .bannerMessage{
        position: absolute; 
        font-size: 2.5em;
        transform: translate(0.7em,-6.3em);
    }
    .bannerDetails{
        position: absolute;
        font-size:1em;
    }
    .printButton{
        font-size: 1em;
        padding: 0.5em 1em;
    }  
  
    .menu{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .menuItem{
        padding:1em;
        border:none;
    }
    .lastMenuItem{
        padding:1em;
    }
    .mainContent img{
        width:100%;
        height:25em;
        object-fit:cover;
    }

    .followOptions{ 
        list-style-type: none;
        width: 100%;
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        row-gap: 1em;
        grid-template-areas: 
        "social1 social2 social3";
    }
}
@media screen and (min-width:800px){
    .mainContent img{
        width:100%;
        height:30em;
        object-fit:cover;
    }
}

@media screen and (min-width:1025px){
    
    h2{
        margin-left: 0.5em;
    }
    h3{
        margin-left: 2.5em;
    }
    p{
        margin-left: 3em;
    }
    .mainContent ul{
        margin-left: 3em;
    }
    .mainContent ol{
        margin-left: 3em;
    }
    .banner{
        width: 100%;
        height: 28em;
    }
    .bannerMessage{
        position: absolute;
        font-size: 3.3em;
        transform: translate(0.6em,-6em);
    }
    .bannerDetails{
        position: absolute;
        font-size: 1.2em;
        margin-top:-0.2em;
    }
    .printButton{
        font-size: 1.2em;
        padding: 0.5em 1em;
    }  
    figure{
        margin: 0em 7em;
    }
    .mainContent img{
        width:30em;
        height:25em;
        object-fit: cover;
    }
    .menu{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .menuItem{
        padding:1em;
        border:none;
    }
    .lastMenuItem{
        padding:1em;
    }

}